[submodule "externals/open62541"]
	path = third-party/open62541
	url = https://github.com/open62541/open62541.git
[submodule "externals/base64"]
	path = third-party/base64
	url = https://github.com/tobiaslocker/base64.git
[submodule "third-party/ostr"]
	path = third-party/ostr
	url = https://github.com/tobiaslocker/ostr.git
[submodule "third-party/flog"]
	path = third-party/flog
	url = https://github.com/tobiaslocker/flog.git
